<h1>
  Dashboard
</h1>

<br>
<div class="row">
  <div class="column">
    <div class="card"><br>
      <i class="fa-solid fa-user fa-2xl"></i><br/><br/>
      <h5>Total Customers:<br>5 </h5><hr><p>+1% from last week</p> </div><br/><br/>

  </div>
  <div class="column">
    <div class="card"><br>
      <i class="fa-solid fa-shop fa-2xl"></i><br/><br/>
      <h5>Total Orders:<br>5</h5><hr><p>+22% from last week</p></div><br/><br/>
  </div>
  <div class="column">
    <div class="card"><br>
      <i class="fa-solid fa-wallet fa-2xl"></i><br/><br/>
      <h5>Total Revenue:<br>{{500 | currency:'INR'}}</h5><hr><p>+50% from last week</p></div><br/><br/>
  </div>
  <div class="column">
    <div class="card"><br>
      <i class="fa-solid fa-chart-simple fa-2xl"></i><br/><br/>
      <h5>Bounce Rate:<br>36%</h5><hr><p>+26% from last week</p></div><br/><br/>
  </div>
</div>
