<h1>Dashboard</h1>
<br>
<div class="row">
    <div class="col lg-3">
        <div class="book">
            <p>500.00</p>
            <div class="cover">
                <div><i class="fa-solid fa-wallet fa-2xl"></i></div>
                <br> <br>
                <div> Cashback <br>&nbsp;&nbsp; Points</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="book">
            <p>{{ 5150 | currency:'INR'}}</p>
            <div class="cover">
                <div><i class="fa-solid fa-file-invoice fa-2xl"></i></div>
                <br> <br>
                <div> Bill</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="book">
            <p>10</p>
            <div class="cover">
                <div><i class="fa-sharp fa-solid fa-trophy fa-2xl"></i></div>
                <br> <br>
                <div>Rewards</div>
                <div>Earned</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="book">
            <p>6</p>
            <div class="cover">
                <div><i class="fa-solid fa-cart-shopping fa-2xl"></i></div>
                <br> <br>
                <div>Your Orders</div>
            </div>
        </div>
    </div>
</div>