<h1>Your Orders</h1>
<br>
<table class="table">
  <thead>
    <tr style="text-align: center;">
      <th scope="col">Order id</th>
      <th scope="col">Reference id</th>
      <th scope="col">Item Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr style="text-align: center;">
      <td>21</td>
      <td>165456445546</td>
      <td>Jamnagri Fafda</td>
      <td>2</td>
      <td>920</td>

    </tr>
    <tr style="text-align: center;">
      <td>55</td>
      <td>165323145546</td>
      <td>Jamnagri Fafda</td>
      <td>2</td>
      <td>920</td>

    </tr>
    <tr style="text-align: center;">
      <td>67</td>
      <td>165451321220</td>
      <td>Chana chor garam</td>
      <td>4</td>
      <td>200</td>

    </tr>
    <tr style="text-align: center;">
      <td>69</td>
      <td>165456442246</td>
      <td>Khaman</td>
      <td>2</td>
      <td>1000</td>

    </tr>
    <tr style="text-align: center;">
      <td>86</td>
      <td>165456455550</td>
      <td>Jalebi</td>
      <td>1</td>
      <td>560</td>

    </tr>
    <tr style="text-align: center;">
      <td>101</td>
      <td>164564455660</td>
      <td>Jamnagri Fafda</td>
      <td>1</td>
      <td>460</td>

    </tr>
  </tbody>
</table>
