h1{
  width: 100%;
  text-align: center;
}
button{

  border:0;
  align-items: center;
  color: rgb(0, 81, 87);
  background-color: white;
}
.btn{
padding-left: 20.5px;
}

h1{
  width: 100%;
  text-align: center;
}

*{
  font-family: 'Josefin Sans', sans-serif;
}
