<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <br>
    <hr>
    <p class="text-center">
        This Project Is Made by Vansh Mehta And Atiq Pathan.
        
    </p>
        <hr>
        <br/>
        <br/>
        <hr>
    <p class="text-center">
        More Details:
    </p>
    <p class="text-center">
        Vansh Mehta  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Atiq Pathan   
        <br/>

        Enrollment No:200202041015 &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Enrollment No:200202041025 
        <br/>

        Phone No: 9428164176 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Phone No: 9725833472
    </p>
    <hr>    
</div>