<div class="signup-page">
  <div *ngIf="!showSignUp" class="user-signup" class="form">
    <div class="signup">
      <div class="signup-header">
        <h3>SIGN-UP</h3>
      </div>
    </div>
    <form #userSignup="ngForm" class="common-form" class="signup-form">
      <input type="text" placeholder="User-Name" name="username" ngModel />
      <input type="email" placeholder="Email" minlength="" name="email" ngModel />
      <input type="text" placeholder="Phone No:" minlength="10" maxlength="10" name="number" ngModel />
      <input type="password" placeholder="Password" name="password" ngModel />
      <button (click)="signUp(userSignup.value)">Signup</button>
      <p class="message">Already Have Account? <a (click)="openLogin()">Click to Login</a></p>
      <!-- <p class="message">Are you a Seller? <a routerLink="/seller-auth">Click to Signup as Seller</a></p> -->
    </form>
  </div>
</div>

<div class="login-page">
  <div *ngIf="!showLogin" class="user-login" class="form">
    <div class="login">
      <div class="login-header">
        <h3>LOGIN</h3>
        <p class="error-p">{{authError}}</p>
      </div>
    </div>
    <form [formGroup]="userLoginForm" class="common-form" (ngSubmit)="login()" class="login-form">
      <input type="email" placeholder="Email" name="email" formControlName="email" />
      <input type="password" placeholder="Password" name="password" formControlName="password" />
      <!-- <input type="submit" value="Login" name="Login" class="btn-btn-success"/> -->
      <button>Login</button>

      <p class="message">Not registered? <a (click)="openSignUp()">Create an account</a></p>
    </form>
  </div>
</div>
